@{
    ViewData["Title"] = "Home Page";
}
<form class="center-inner" method="get">
        <h1>Enter name</h1>
        <h1><input type="text" required id="name" name="name"> <button type="submit" class="btn btn-primary">Enter</button></h1>
    </form>
