@{
    ViewData["Title"] = "Home Page";
}
<form class="center-inner" action="/home/index2" method="post">
        <h1>Enter name <input type="text" required id="name" name="name"></h1>
        <h1><button type="submit" class="btn btn-primary">Enter</button></h1>
    </form>
